<h1 class="mt-4">Cargo</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">{{ cargo.id  ? 'Edição' : 'Cadastro'}}</li>
</ol>
<div class="container">
    <form #funcionarioForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="success">
                    Cargo salvo/atualizado com sucesso!
                </div>
                <div class="alert alert-danger" role="alert" *ngFor="let erro of erros">
                    {{ erro }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group" *ngIf="cargo.id">
                    <label>ID: *</label>
                    <input type="text" class="form-control" [ngModel]="cargo.id" disabled="true" name="id" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nome: *</label>
                    <input type="text" class="form-control" [(ngModel)]="cargo.nome" name="nome" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Salario: *</label>
                    <input type="text" class="form-control" [(ngModel)]="cargo.salario" name="salario" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <button type="submit" class="btn btn-success" *ngIf="!cargo.id">
                    <i class="fa fa-save"></i> Salvar
                </button>

                  <button type="submit" class="btn btn-primary" *ngIf="cargo.id">
                    <i class="fa fa-sync-alt"></i> Atualizar
                </button> 

                <button type="button" class="btn btn-danger ml-2" (click)="(voltarListaCargos())">
                    <i class="fa fa-arrow-alt-circle-left"></i> Voltar
                </button>
            </div>
        </div>
    </form>
</div>