<h1 class="mt-4">Cargo</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Consulta</li>
</ol>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success" role="alert" *ngIf="mensagemSucesso">
                {{ mensagemSucesso }}
            </div>
            <div class="alert alert-danger" role="alert" *ngFor="let erro of erros">
                {{ erro }}
            </div>
        </div>
    </div>
        <div class="row">
            <div class="col-md-2">
                <button class="btn btn-warning" (click)="(novoCadastro())"><i class="fa fa-plus"></i> Novo</button>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <table class="table table-condensed table-hover">
                    <thead>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Salario</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cargo of cargos">
                            <td>{{ cargo.id }}</td>
                            <td>{{ cargo.nome }}</td>
                            <td>{{ cargo.salario }}</td>
                            <td></td>

                            <button class="btn btn-primary" routerLink="/cargo/form/{{ cargo.id }}">
                                <i class="fa fa-edit"></i>
                            </button>

                            <button class="btn btn-danger" data-toggle="modal" data-target="#modalDelecao"
                                (click)="preparaDelecao(cargo)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="modalDelecao" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Confirmação</h4>
                </div>
                <div class="modal-body" *ngIf="cargoSelecionado">
                    Confirma a deleção do(a) Funcionario {{ cargoSelecionado.nome }} ?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" (click)="deletarCargo()" data-dismiss="modal"> Confirmar
                    </button>
                    <button class="btn btn-danger" data-dismiss="modal"> Cancelar </button>
                </div>
            </div>
        </div>
    </div>
