<div class="container mt-2">
    <div class="mt-5">
        <h4 style="color: gray;">Funcionalidades</h4>
        <div class="row">
            <div class="col-md-4">
                <mat-card id="cardEv" class="cardHeight borderOrange changeCurso" routerLink="/clientes/lista">
                    <img mat-card-image class="img-responsive borderImage imgSize"
                        src="../../assets/images/alterar-mei-crescimento-1280x720.jpg" alt="EV">
                    <mat-card-content>
                        <h3 class="textCards font-weight-bold">
                            Clientes
                        </h3>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card id="cardEv" class="cardHeight borderOrange changeCurso" routerLink="/servicos-prestados/lista">
                    <img mat-card-image class="img-responsive borderImage imgSize"
                        src="../../assets/images/empresaTDblog-1280x720.jpg" alt="EV">
                    <mat-card-content>
                        <h3 class="textCards font-weight-bold">
                            Serviço Prestado
                        </h3>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card id="cardEv" class="cardHeight borderOrange changeCurso" routerLink="/funcionarios/lista">
                    <img mat-card-image class="img-responsive borderImage imgSize"
                        src="../../assets/images/GettyImages-1248900243-resize1280x853-crop1230x650.jpg" alt="EV">
                    <mat-card-content>
                        <h3 class="textCards font-weight-bold">
                            Funcionarios
                        </h3>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>