<div class="container mt-2">
    <div class="mt-5">
        <h4 style="color: gray;">Funcionalidades</h4>
        <div class="row">
            <div class="col-md-3">
                <mat-card id="cardEv" class="cardHeight borderOrange changeCurso" routerLink="/clientes/lista">
                    <img mat-card-image class="img-responsive borderImage imgSize"
                        src="../../assets/images/psicologo-mei-homens-conversando-1280x720.jpg" alt="EV">
                    <mat-card-content>
                        <h3 class="textCards font-weight-bold">
                            Clientes
                        </h3>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-3">
                <mat-card id="cardEv" class="cardHeight borderOrange changeCurso" routerLink="/servicos-prestados/lista">
                    <img mat-card-image class="img-responsive borderImage imgSize"
                        src="../../assets/images/como-mudar-o-ramo-de-atividade-de-uma-empresa-ME-arte-pessoas-e-blocos-1280x720.jpg" alt="EV">
                    <mat-card-content>
                        <h3 class="textCards font-weight-bold">
                            Serviço Prestado
                        </h3>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-3">
                <mat-card id="cardEv" class="cardHeight borderOrange changeCurso" routerLink="/funcionarios/lista">
                    <img mat-card-image class="img-responsive borderImage imgSize"
                        src="../../assets/images/quanto-ganha-nutricionista-arte.jpg" alt="EV">
                    <mat-card-content>
                        <h3 class="textCards font-weight-bold">
                            Funcionarios
                        </h3>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-3">
                <mat-card id="cardEv" class="cardHeight borderOrange changeCurso" routerLink="/cargo/lista">
                    <img mat-card-image class="img-responsive borderImage imgSize"
                        src="../../assets/images/alterar-mei-crescimento-1280x720.jpg" alt="EV">
                    <mat-card-content>
                        <h3 class="textCards font-weight-bold">
                            Cargos
                        </h3>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>